= render 'slideshows/slideshow', :slideshow => @slideshow

%section.page-content
  %header.section-page-content
    %h2= @content.title
  .content= @content.content.html_safe

- content_for :aside_main do
  = render 'social_aside'
  
- content_for :javascripts do
  = javascript_include_tag 'jquery.slides'