<section class="light-content">
  <div class="inner-section-light-content">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bio.name %>
</p>

<p>
  <b>Title:</b>
  <%= @bio.title %>
</p>

<p>
  <b>Content:</b>
  <%= @bio.content %>
</p>

<p>
  <b>Filename:</b>
  <%= @bio.filename %>
</p>
</div>
</section>